<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Information</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="customer1:${Customerlist}">
        <td th:text="${customer1.getId()}"></td>
        <td th:text="${customer1.getFirstName()}"></td>
        <td th:text="${customer1.getLastName()}"></td>
        <td><a th:href="@{/Customer/edit/${customer.id}}">Edit</a></td>
        <td><a th:href="@{/Customer/delete/${customer.id}}">Delete</a></td>

    </tr>
</table>
<a href="/Customer/CreateView">thêm mới</a>
</body>
</html>