<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1px solid red">
    <tr>

        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="row,rowStat :${customerList}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td><a th:href="@{/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/view(id=${row.getId()})}">view</a></td>
    </tr>
</table>
</body>
</html>